<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.policyboss">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".utility.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utility.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".navigationview.HomeActivity"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".motorinsurance.FastLaneCarDetails"
            android:label="@string/title_activity_fast_lane_car_details"
            android:parentActivityName=".motorinsurance.MotorPolicyDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.motorinsurance.MotorPolicyDetailsActivity" />
        </activity>
        <activity
            android:name=".motorinsurance.PopUpCardQuoteActivity"
            android:label="@string/title_activity_pop_up_card_quote"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".motorinsurance.CarQuoteGenerate"
            android:label="@string/title_activitycard_quote"
            android:parentActivityName=".motorinsurance.MotorPolicyDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.motorinsurance.MotorPolicyDetailsActivity" />
        </activity>
        <activity
            android:name=".motorinsurance.PremiumPopUpActivity"
            android:label="@string/title_activity_premium_pop_up"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".healthinsurance.HealthInsuranceActivity"
            android:label="@string/title_activity_health_insurance"
            android:parentActivityName=".navigationview.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.navigationview.HomeActivity" />
        </activity>
        <activity
            android:name=".healthinsurance.HealthInsuranceAgeDetailActivity"
            android:label="@string/title_activity_health_insurance_age_detail"
            android:parentActivityName=".healthinsurance.HealthInsuranceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.healthinsurance.HealthInsuranceActivity" />
        </activity>
        <activity
            android:name=".webview.WebViewBuyInsurenceActivity"
            android:label="Buy insurence"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".personaldetail.CustomerDetailsActivity"
            android:label="@string/title_activity_customer_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".motorinsurance.BikeQuoteActivity"
            android:label="@string/title_activity_bike_quote"
            android:parentActivityName=".navigationview.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".premiumbreakup.PremiumBreakupActivity"
            android:label="@string/title_activity_premium_breakup"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".motorinsurance.ModifyQuotesActivity"
            android:label="@string/title_activity_modify_quotes"
            android:parentActivityName=".motorinsurance.BikeQuoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.motorinsurance.BikeQuoteActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".webview.CommonWebViewActivity"
            android:label="@string/title_activity_common_web_view"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".healthinsurance.HealthInsuranceQuotes"
            android:label="@string/title_activity_health_insurance_quotes"
            android:parentActivityName=".personaldetail.CustomerDetailsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.personaldetail.CustomerDetailsActivity" />
        </activity>

        <activity
            android:name=".motorinsurance.PremiumBikePopUpActivity"
            android:label="@string/title_activity_premium_bike_pop_up"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".notification.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".navigationview.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.navigationview.HomeActivity" />
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".motorinsurance.MotorInsuranceActivity"
            android:label="@string/title_activity_motor_insurance"
            android:parentActivityName=".navigationview.HomeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.navigationview.HomeActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".motorinsurance.MotorPolicyDetailsActivity"
            android:label="@string/title_activity_motor_policy_details"
            android:parentActivityName=".motorinsurance.MotorInsuranceActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.policyboss.motorinsurance.MotorInsuranceActivity" />
        </activity>
    </application>

</manifest>